*
.body{
    background-color: aqua;
}
.head{
    text-align: center;
}
.slogan{
    font-family:serif;
    font-size: 25px;
    margin-bottom: 0%;
}
.brand_name{
    margin-bottom: 0%;
  
}
.est{
    margin-bottom: 0%;

}
.menu{
    text-align: center;
    color: tan;
}
/* #navbarNav_1{
} */
#nav-bar{
    padding: 0px;

}
.navbar{
    padding-left:0;
    padding-right:0;
}
.burger_1{
    height: auto;
    width: 50%;
    margin-left: 50%;
}
#p1{
    margin: 1%;
    margin-right: 50%;
}